.shadow-decor {
  text-shadow: 2px 2px 0 var(--accent-color, #ff0070);
}

.page {
  color: var(--main-text-color, #f1b2ce);
  font-family: var(--main-font-family, "IBM Plex mono", monospace);
  font-size: 18px;
  line-height: 23.4px;
  background-color: var(--bg-color, #000028);
  background-image: var(--bg-image, url("../images/cover-image-dark.png"));
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.cover {
  display: grid;
  padding: clamp(10px, 0.0286rem + 2.5445vw, 20px);
  min-block-size: 100vh;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::before {
  border-inline-end: 1px solid var(--title-color, #ff0070);
  border-block-start: 1px solid var(--title-color, #ff0070);
  inset-inline-end: clamp(10px, 0.0286rem + 2.5445vw, 20px);
  inset-block-start: clamp(10px, 0.0286rem + 2.5445vw, 20px);
}

.decorated-zone::after {
  border-inline-start: 1px solid var(--title-color, #ff0070);
  border-block-end: 1px solid var(--title-color, #ff0070);
  inset-inline-start: clamp(10px, 0.0286rem + 2.5445vw, 20px);
  inset-block-end: clamp(10px, 0.0286rem + 2.5445vw, 20px);
}

/* ссылки */
.link {
  text-decoration: none;
  color: inherit;
  transition: border-bottom-color 0.3s ease;
}

.link:hover {
  border-bottom: 1px solid currentColor;
}

.link:focus {
  outline: none;
}

.link:focus-visible {
  outline: 1px solid currentColor;
  outline-offset: 2px;
}

/* rec */
.rec-decor {
  visibility: var(--rec-decor-visibility, visible);
  display: inline-flex;
  align-items: center;
  gap: 10px;
  position: absolute;
  inset-inline-end: clamp(18px, 0.0286rem + 2.5445vw, 28px);
  inset-block-start: clamp(10px, 0.0286rem + 2.5445vw, 20px);
  z-index: 10;
}

.rec-decor::before {
  content: "REC";
  color: var(--accent-color, #ff0070);
  line-height: 24px;
  font-family: var(--main-font-family);
  font-size: 18px;
}

.rec-decor::after {
  content: "";
  display: block;
  border-radius: 50%;
  box-shadow: 0 0 10px 2px var(--accent-color, #ff0070);
  background: var(--accent-color, #ff0070);
  width: 9px;
  height: 9px;
}

/* общее */
.page-title {
  justify-self: start;
  align-self: center;
  inline-size: auto;
  max-inline-size: 100%;
  color: var(--header-color, #db00ff);
  font-family: var(--main-font-family);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-shadow: 4px 4px 0 var(--accent-color);
  line-height: 0.825;
}

.title {
  color: var(--title-color, #ff0070);
  font-weight: 700;
  font-size: inherit;
  line-height: inherit;
}

.title-decor {
  color: var(--subtitle-color, #000028);
  background: var(--accent-color, #ff0070);
}

.title-thin {
  font-weight: 400;
}

/* карточки */
.card {
  display: grid;
  gap: 20px;
}

.card-gallery {
  gap: 10px;
}

.card-how__title {
  margin-block-end: 20px;
}

.articles-list {
  display: grid;
  gap: 20px;
}

.article {
  display: grid;
  gap: 10px;
}

/* картинки */
.gallery-list {
  display: grid;
  gap: 10px;
}

.gallery-list__item-img {
  display: block;
  object-fit: cover;
  object-position: center;
  block-size: 100%;
  inline-size: 100%;
}

/* шапка */
.header {
  display: grid;
  grid-template-rows: 0.8fr min-content 0.9fr;
  min-block-size: max(100vh, 668px);
  padding: clamp(10px, 2.5vw, 20px);
  position: relative;
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.header__theme-menu-button {
  border: 1px solid transparent;
  padding: 2px 12px;
  color: var(--button-color, #ff0070);
  line-height: 18px;
  text-transform: lowercase;
  background: transparent;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  position: relative;
}

.header__theme-menu-button_active {
  border: 1px solid currentColor;
  cursor: default;
  pointer-events: none;
}

.header__theme-menu-button:hover {
  border-color: var(--button-hover-border);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid currentColor;
}

.header__title {
  justify-self: start;
  align-self: center;
  inline-size: clamp(364px, 50%, 491px);
  background: var(--accent-color);
  color: var(--subtitle-color);
  font-weight: 700;
  padding: 0;
}

/* основной блок */
.main {
  display: grid;
  gap: 50px;
  padding: 40px 10px;
}

/* подвал */
.footer {
  display: grid;
  place-items: center;
  min-block-size: max(100vh, 668px);
  position: relative;
}

.footer .page-title {
  grid-row: auto;
  justify-self: center;
  align-self: center;
  margin: 0;
  text-align: center;
}

/* 788px */
@media (width >=768px) {
  .page-title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .card {
    grid-template-columns: clamp(236px, calc(100% / 3.25), 315px) 2fr;
    gap: 20px;
  }

  .card-what__articles-list {
    grid-column-start: span 2;
  }

  .card-gallery {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .card-how__articles-list {
    grid-column-start: 2;
  }

  .gallery-list {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .gallery-list__item:first-child,
  .gallery-list__item:last-child {
    grid-column-start: span 2;
  }

  .gallery-list__item:nth-child(2),
  .gallery-list__item:nth-child(3) {
    grid-row-start: span 2;
  }

  .header {
    padding: 20px 20px 0px 0px;
  }

  .header__theme-menu {
    align-self: start;
    margin-block-start: clamp(65px, 14vh, 170px);
  }

  .header__title {
    justify-self: end;
    inline-size: clamp(364px, calc(100% / 2 - 10px), 491px);
  }

  .main {
    gap: 80px;
    padding: 60px 20px;
  }
}

/* 1024px */
@media (width >=1024px) {
  .page-title {
    text-shadow: 4px 4px 0 var(--accent-color, #ff0070);
  }

  .card {
    column-gap: 30px;
  }

  .card-what__articles-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .header__theme-menu {
    justify-self: center;
    margin-inline-start: 20px;
    margin-block-start: 0;
    margin-block-end: 215px;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__title {
    margin-block-end: 20px;
  }
}