:root.theme-dark {
  --main-text-color: #f1b2ce;
  --header-color: #db00ff;
  --button-color: #ff0070;
  --subtitle-color: #000028;
  --accent-color: #FF0070;
  --title-color: #FF0070;
  --bg-image: url("../images/cover-image-dark.png");
  --bg-color: #000028;
  --button-hover-border: rgba(255, 0, 112, 0.4);
  --rec-decor-visibility: visible;
}